body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); */

  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  /* background: #c94b4b;  
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  
  background: linear-gradient(to right, #4b134f, #c94b4b);  */
  

}


button {
  cursor: pointer;
}
